@page "/Clientes/Index"
@using RegistroTecnicos.Models
@using RegistroTecnicos.Services
@rendermode InteractiveServer
@inject ClientesService clienteService
@inject NavigationManager navigation

<PageTitle>Clientes</PageTitle>
<div class="container card shadow-lg">
    <div class="card-header text-center bi bi-person-badge">
        <h3><strong>Clientes</strong></h3>
    </div>

    @* Header *@
    <div class="row mb-3 align-items-end">
        <div class="col-md-3">
            <label for="Filtro" class="form-label"><strong>Filtrar por:</strong></label>
            <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                <option value="" disabled>Seleccionar</option>
                <option value="ClienteId">Cliente ID</option>
                <option value="Nombres">Nombre</option>
                <option value="Rnc">RNC</option>
            </InputSelect>
        </div>
        <div class="col-md-6">
            <label for="ValorFiltro" class="form-label"><strong>B&uacute;squeda:</strong></label>
            <div class="input-group">
                <input @bind="ValorFiltro" class="form-control" placeholder="Buscar" />
                <button @onclick="Buscar" class="btn btn-success" type="button">
                    <span class="bi bi-search"></span> Buscar
                </button>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-md-end mt-3 mt-md-0">
            <a href="/Clientes/Create" class="btn btn-success bi bi-plus-square-fill"> Crear</a>
        </div>
    </div>

    @* Body *@
    <div class="card-body">
        <table class="table table-light table-bordered">
            <thead class="table table-striped text-center table-bordered mt-3">
                <tr>
                    <th>Cliente ID</th>
                    <th>Fecha Ingreso</th>
                    <th>Nombres</th>
                    <th>Dirección</th>
                    <th>RNC</th>
                    <th>Límite Crédito</th>
                    <th>Técnico Encargado</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in clientes)
                {
                    <tr>
                        <td class="text-center">@cliente.ClienteId</td>
                        <td class="text-center">@cliente.FechaIngreso.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@cliente.Nombres</td>
                        <td class="text-center">@cliente.Direccion</td>
                        <td class="text-center">@cliente.Rnc</td>
                        <td class="text-center">@cliente.LimiteCredito:C</td>
                        <td class="text-center">@cliente.Tecnicos?.Nombres</td>
                        <td class="text-center">
                            <a href="/Clientes/Edit/@cliente.ClienteId" class="btn btn-outline-warning bi bi-pencil-square"></a>
                        </td>
                        <td class="text-center">
                            <a @onclick="() => Eliminar(cliente.ClienteId)" class="btn btn-outline-danger bi bi-trash"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="card-footer">
            <p><strong>Total de Clientes: </strong>@clientes?.Count</p>
        </div>
    </div>
</div>

@code {
    private List<Clientes> clientes = new();
    private string filtro { get; set; } = "ClienteId";
    private string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        clientes = await clienteService.Listar(c => true); // Cargar clientes con técnicos asociados.
    }

    private async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(ValorFiltro))
        {
            if (filtro == "ClienteId" && int.TryParse(ValorFiltro, out int clienteId))
            {
                clientes = await clienteService.Listar(c => c.ClienteId == clienteId);
            }
            else if (filtro == "Nombres")
            {
                clientes = await clienteService.Listar(c => c.Nombres.Contains(ValorFiltro, StringComparison.OrdinalIgnoreCase));
            }
            else if (filtro == "Rnc" && int.TryParse(ValorFiltro, out int rnc))
            {
                clientes = await clienteService.Listar(c => c.Rnc == rnc);
            }
        }
    }

    private async Task Eliminar(int clienteId)
    {
        var confirmado = await clienteService.Eliminar(clienteId);
        if (confirmado)
        {
            clientes = await clienteService.Listar(c => true);
        }
    }
}